

<div class="bottom-container">
    <div class="footer-link">
        <a href="">LinkedIn</a>
        <a href="">Twitter</a>
        <a href="">Website</a>
    </div>
    <!-- <div>
        <p>Location 1062 Johnson Ferry Rd,Suite 100 Marietta, GA 30068</p>
        <p>Hours: Text or Email us for appointments!</p>
        <p>
        Contact:welovecitrine@gmail.com Lindsay: {text} (804) 937-2346 Madison: {text} (770) 355-8887
        </p>


    </div> -->
    <p class="copyright"> © 2021 Citrine Hair Studio </p>
  </div>