

<div class="bottom-container">
    <div class="footer-link">
    <a href="https://www.instagram.com/citrine.hair.studio/"><i class="fa fa-instagram"></i></a>
    </div>
    <p class="copyright"> © 2021 Citrine Hair Studio </p>
  </div>