<%-include("partials/header")-%>
<%-include("partials/navbar")-%>


<section class="home">
        <div id="slideShow" class="slide-show">
            <img class="slide-show-img" src="/pics/interior/Citrine_07.jpg" alt="salon-interior">
            <img class="slide-show-img" src="/pics/interior/Citrine_01.jpg" alt="salon-interior">
            <img class="slide-show-img" src="/pics/interior/Citrine_02.jpg" alt="salon-interior">
            <img class="slide-show-img" src="/pics/interior/Citrine_04.jpg" alt="salon-interior">
            <img class="slide-show-img" src="/pics/interior/Citrine_05.jpg" alt="salon-interior">
        </div>
</section>
