<%-include("partials/header")-%>

<section class="background">
<%-include("partials/navbar")-%>
<section class="home">
    <div id="slideShow" class="slide-show">
        <img class="slide-show-img" src="/pics/interior/Citrine_07.jpg" alt="salon-interior">
        <img class="slide-show-img" src="/pics/interior/Citrine_01.jpg" alt="salon-interior">
        <img class="slide-show-img" src="/pics/interior/Citrine_02.jpg" alt="salon-interior">
        <img class="slide-show-img" src="/pics/interior/Citrine_04.jpg" alt="salon-interior">
        <img class="slide-show-img" src="/pics/interior/Citrine_05.jpg" alt="salon-interior">
    </div>
</section>

<section class="foreground">

<section class="welcome-wrapper">
    <h1 class="welcome-header">
        Welcome to Citrine Hair Studio!
    </h1>
    <p class="welcome-detail">
        Coming together, having an equally passionate mindset on social justice and an eagerness to spread love and beauty, is the birthplace of Citrine Hair Studio.
        We strive to create an environment that cultivates community growth. In doing so we will be dedicating a percentage of our profits to an array of different social and economic causes.
        Our goal is to inspire, uplift, and protect not only our amazing guests, but the community around us.
        — Lindsay and Madison
    </p>

</section>
<%-include("partials/footer")-%>

</section>
</section>


