<%-include("partials/header")-%>

<section class="background">
<%-include("partials/navbar")-%>
<section class="home">
    <div id="slideShow" class="slide-show">
        <img class="slide-show-img" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904152/Citrine_07_j32fdx.jpg" alt="salon-interior">
        <img class="slide-show-img" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904151/Citrine_01_hagpnb.jpg" alt="salon-interior">
        <img class="slide-show-img" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904151/Citrine_02_hpodai.jpg" alt="salon-interior">
        <img class="slide-show-img" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904151/Citrine_04_c3ye6z.jpg" alt="salon-interior">
        <img class="slide-show-img" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904152/Citrine_05_jw2yfo.jpg" alt="salon-interior">
    </div>
</section>

    
<section class="foreground">

<section class="welcome-wrapper">
    <h1 class="welcome-header">
        Welcome to 
    </h1>
    <h1 class="welcome-header">
        <em>Citrine Hair Studio</em>
    </h1>
        
    <p class="welcome-detail">
        Coming together, having an equally passionate mindset on social justice and an eagerness to spread love and beauty, is the birthplace of Citrine Hair Studio.
        We strive to create an environment that cultivates community growth. In doing so we will be dedicating a percentage of our profits to an array of different social and economic causes.
        Our goal is to inspire, uplift, and protect not only our amazing guests, but the community around us.
        <br>— Lindsay and Madison
    </p>
</section>

<div class="parallax" style="background-image: url(https://res.cloudinary.com/lonecrow/image/upload/c_scale,w_1920/v1631904437/LindsayMadison_tzr06a.png)"></div>

<section id="pricing" class="pricing-wrapper">
<h1 class="service-header">Service Offerings</h1>
<p><em>Click</em> to dislpay prices...</p>
<div class="service-menu ">
    <h2 class="pricing-header">Haircuts</h2>
    <ul class="pricing-detail">
        <li>Short Cut: $45/ 45 min</li>
        <li>Classic/ Medium Cut: $70/ 1 hr</li>
        <li>Long/ Creative Cut: $85-$100/ 1.5 hr - 2 hr</li>
    </ul>
</div>
<div class="service-menu">
<h2 class="pricing-header">Color</h2>
<ul class="pricing-detail">
    <li>Base Color: $80</li>
    <li>End Color: $40</li>
</ul>
</div>
<div class="service-menu">
<h2 class="pricing-header">Foils</h2>  
<ul class="pricing-detail">
    <li>Mini Highlight: $65</li>
    <li>Partial Highlight: $130</li>
    <li>Full Highlight: $180</li>
    <li>**Toners are included in highlight price</li>
</ul>
</div>
<div class="service-menu">
<h2 class="pricing-header">Balayage</h2>
<ul class="pricing-detail">
    <li>Full Balayage: $250</li>
    <li>Blonde Overhaul: $300+</li>
</ul>
</div>
<div class="service-menu">
    <h2 class="pricing-header">Details</h2>
    <ul class="pricing-detail">
        <li>*Prices may vary based on length, thickness, and starting level.*
        </li>
        <li>*Creative color (i.e. vivid tones) require a consultation in order to be booked.*
        </li>
    </ul>

</div>
</section >

    <a href="https://www.verbproducts.com/" class="parallax" style="background-image: url(https://m.media-amazon.com/images/I/71tsLmhvI7L._SL1500_.jpg)"></a>

    <h1 id="products" class="products-wrapper">
        We love Verb...
    </h1>

    <a href="https://www.sparkscolor.com/" class="parallax" style="background-image: url(https://res.cloudinary.com/lonecrow/image/upload/v1631905034/sparks_mqp8wv.png)"></a>

    <h1 id="products" class="products-wrapper">
        We adore Sparks...
    </h1>

    <section id="appointments" class="appointments-wrapper">
        <div class="appointments-detail">
            <a href="sms:18049372346">
            <h1 class="appointments-header">Lindsay:(804) 937-2346</h1></a>
            <a href="sms:17703558887">
            <h1 class="appointments-header">Madison:(770) 355-8887</h1></a>

            <p>Text</p>

            <h1 class="appointments-header"><a class="email" href="mailto:welovecitrine@gmail.com">welovecitrine@gmail.com</a></h1>

            <p>Email</p>
            <div class="maps-selector">
            <h1 class="appointments-header">1062 Johnson Ferry Rd,</h1> 
                <h1 class="appointments-header">Suite 100</h1>
            <h1 class="appointments-header">Marietta, GA 30068</h1>
            <p>Address</p>
        </div>
        </div>
        
    </section>
    

<%-include("partials/footer")-%>

</section>
</section>
</section>


