<%-include("partials/header")-%>


<section class="load-container">
      <a href="/home"><img class="loading-image" src="https://res.cloudinary.com/lonecrow/image/upload/v1631904428/Citrine/CitrineLogo_tkqgql.png" alt=""></a>
</section>