body {
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------ Navbar ------------------------ */
.logo {
    font-family: "Marmelad", sans-serif;
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    text-decoration: none;
  }
  
  nav {
    background: #342eac;
    font-family: "Marmelad", sans-serif;
    line-height: 80px;
    position: fixed;
    width: 100%;

    z-index: 3;
  }
  
  a:hover {
    color: #d47c8b;
  }
  
  nav ul {
    line-height: 60px;
    list-style: none;
    background: transparent;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
  }
  
  nav ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.25rem;
  }
  
  .menu-icon {
    line-height: 60px;
    /* width: 100%; */
    background: #f1f1f1;
    text-align: right;
    padding: 15px 24px;
    cursor: pointer;
    color: #000;
    display: none;
  }
  
  /* */
  .home {
    padding-top: 80px;
  }

  .slide-show {
    align-items: center;
    background-color: white;
    display: flex;
    height: 350px;
    overflow: auto;
    white-space: nowrap;
  }
  
  .slide-show-img {
    width: 500px;
    object-fit: contain;  
    animation: slideIn 20s linear infinite;
    
  }

  

  @keyframes slideIn {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translate3d(-100%,0,0);
    }
  }


  /* ------------------------ @Media ------------------------ */

  @media(max-width: 1100px) {

    .logo {
        color:#342eac;
        font-size: 1.5rem;
        top: 0;
        margin: 8px;
      }
    
      nav ul {
        max-height: 0;
        background: #342eac;
      }
    
      .showing {
        max-height: 30em;
      }
    
      nav ul li {
        width: 100%;
        padding: 24px;
        text-align: center;
      }
    
      nav ul li a {
        color: #fff;
        font-size: 2em;
      }
    
      .menu-icon {
        display: block;
      }




  }