:root {
  --purple: #342eac;
  --emerald: #1b4d4a;
  --rose: #d47c8b;
  --lightrose: #edc9bd;
  --white: #f1f1f1;
  --cream: #f8f3e6;
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 2rem;
}


/* ------------------------ Loading Page ------------------------ */

.load-container {
  animation: appear 5s linear;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.loading-image {
  animation: pulse 2s infinite ;
  animation-delay: 3s;
  position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  } 30% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  from {opacity: 0; transform: translateY(-5deg)} to {opacity: 1; transform: translateY(0deg)}
} 

/* ------------------------ Navbar ------------------------ */

.logo {
    color: var(--white);
    float: left;
    font-family: "Forum", serif;
    font-size: 2.5rem;
    letter-spacing: .2rem;
    line-height: 4rem;
    margin: 16px 46px;
    position: fixed;
    text-decoration: none;
  }
  
  nav {
    background: var(--purple);
    font-family: "Forum", serif;
    line-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  a:hover {
    color: var(--rose);
  }
  
  nav ul {
    background: transparent;
    line-height: 60px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    padding-right: 40px;
    text-align: right;
    transition: 1s;
  }
  
  nav ul li {
    display: inline-block;
    padding: 16px 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.25rem;
  }
  
  .menu-icon {
    line-height: 60px;
    background: var(--purple);
    text-align: right;
    padding: 15px 24px;
    cursor: pointer;
    color: var(--white);
    display: none;
  }
  
  
/* ------------------------ Welcome: Home Page ------------------------ */

.background {
  position: relative;
}

.foreground {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 450px;
  width: 700px;
  z-index: 2;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}

.slide-show {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  white-space: nowrap;
  width: 100vw;
}

.slide-show-img {
  max-width: 100%;
  position: absolute;
}

.welcome-wrapper {
  background-color: var(--white);
  color:var(--purple);
  display: flex;
  flex-direction: column;
  font-family: "Forum", serif;
  padding: 40px 80px 80px;
}

.welcome-header, .welcome-detail {
  align-self: center;

}

/*------------------------ Pricing ------------------------ */

.pricing-wrapper {
  background-color: var(--purple);
  color:var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Forum", serif;
  padding: 80px;
}

.pricing-detail {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--purple);
  display: none;
  padding: 32px;
  position: absolute;
  top: 0;
  width: max-content;
  z-index: 2;
}

.pricing-detail li {
  font-family: "Forum", serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2rem;
  list-style-type: none;
}

.service-header {
  font-size: 2.2rem;
  font-weight: 100;
}

.service-menu {
  align-self: center;
  border-bottom: 1px solid;
  position: relative;
  display: inline-block;
  width: 60%;
}

.service-menu:hover .pricing-detail {
  display: inline-block;
}

.display {
  display: inline-block;
}

/*------------------------ Appointment ------------------------ */

.appointments-wrapper {
  background-color: var(--lightrose);
  display: flex;
  flex-direction: column;
  font-family: "Forum", serif;
  padding: 80px;
}
.appointments-detail {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.appointments-header {
  align-self: center;
  color: var(--rose);
  font-size: 1.5rem;
  font-variant-caps: small-caps;
  letter-spacing: 1px;
}

.appointments-detail a {
  align-self: center;
  text-decoration: none;

}

.appointments-detail p {
  align-self: center;
  border-top: .5px solid;
  color: var(--cream);
  letter-spacing: 1px;
  text-transform: uppercase;
}

/*------------------------ Products ------------------------ */

.products-wrapper {
  background-color: var(--white);
  color: var(--emerald);
  display: flex;
  flex-direction: column;
  font-family: "Forum", serif;
  padding: 80px 40px;
}

/* ------------------------ Footer ------------------------ */

.bottom-container {
  background-color: var(--emerald);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

.copyright {
  align-self: center;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 16px;
}
    
.footer-link { 
  align-self: center;
  font-weight: bold;
  padding: 2%;
}

.footer-link a {
  font-family: "Forum", serif;
  font-size: 3rem;
  color: var(--white);
  text-decoration: none;
  padding: 0 24px;
}

.footer-link a:hover {
  color: var(--rose);

}

/* ------------------------ TABLET MEDIA ------------------------ */

  @media(max-width: 1100px) {
    .foreground {
      top: 300px;
      width: 100vw;
    }

    .logo {
      color:var(--white);
      font-size: 1.5rem;
      top: 0;
      left: 30px;
      margin: 8px;
    }
  
    nav ul {
      max-height: 0;
      background: var(--purple);
    }
  
    nav ul li {
      width: 100%;
      padding: 24px;
      text-align: center;
    }
  
    nav ul li a {
      color: var(--white);
      font-size: 2em;
    }

    .menu-icon {
      display: block;
    }

    .showing {
      max-height: 30em;
    }

    .slide-show {
      height: 400px;
    }

      /* ------------------------ PHONE MEDIA ------------------------ */
    }
      @media(max-width: 786px) {
      h1 {
        font-size: 2.5rem;
      }
      
      /* ------------------------ Slideshow ------------------------ */

      .slide-show {
        height: 300px;
      }

      /* ------------------------ Home Page ------------------------ */

      .welcome-wrapper, .pricing-wrapper {
        padding: 32px;
      }

      .pricing-detail {
        width: fit-content;
      }
      
      .parallax:first-of-type {
        background-repeat: repeat-y;

      }
      .parallax {
        background-size: 500px;

      }

      .footer-link a {
        font-size: 2rem;
      }

      .copyright {
        padding: 16px;
    }
    
}     

  